@model IEnumerable<Customer>
<table class="table">
    <thead>
        <tr>

            <customer-create></customer-create>
            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PersonalInformation.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>


                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInformation.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PersonalInformation.LastName)
                </td>
                <td>
                    <customer-edit item-id="@item.Id"></customer-edit> |
                    <customer-details item-id="@item.Id"></customer-details> |
                    <customer-delete item-id="@item.Id"></customer-delete>
                </td>
            </tr>

        }
    </tbody>
</table>